---

# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# base style
BasedOnStyle: LLVM

# indentation
IndentWidth: 4
ColumnLimit: 80

# put braces on next line after e.g. functions
BreakBeforeBraces: Linux

# pointer (asterisk) and reference (ampersand) alignment
DerivePointerAlignment: false
PointerAlignment: Right

---
