<!--
    override of the default papermod file: themes/papermod/layouts/partials/index_profile.html
-->
<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl}}
        <img
            {{- if (eq $.Site.Params.defaultTheme `dark`) }}
            src="{{ .imageUrl.dark | absLangURL }}"
            {{- else }}
            src="{{ .imageUrl.light | absLangURL }}"
            {{- end }}
            data-src-light="{{ .imageUrl.light | absLangURL }}"
            data-src-dark="{{ .imageUrl.dark | absLangURL }}"
            alt="{{ .imageTitle | default `profile image` }}"
            width="{{- .imageWidth | default 150 -}}"
            height="{{- .imageHeight | default 150 -}}"
        />
        {{- end}}
        <h1>{{- .title | default $.Site.Title | markdownify -}}</h1>
        <span>{{- .subtitle | markdownify -}}</span>
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . -}}
            <a class="button" href="{{ trim .url " " | absLangURL }}" rel="noopener" title="{{ .name | humanize }}">
                <span class="button-inner">{{ .name }}</span>
            </a>
            {{- end -}}
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>
